@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center border border-primary">
    <h1 class="display-4">Bienvenido a la agenda telefonica</h1>
    <h4 class="display-8">Puedes guardar tus contactos, y ademas iniciar sesion con tu email y contraseña, permitiendo que nadie mas pueda ver tus contactos!</h4>
    
</div>
